# Java
*.class
*.jar
*.war
*.ear
*.nar
target/
build/
out/

# Logs
*.log
hs_err_pid*
replay_pid*

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Env
.env

# Maven
.mvn/wrapper/maven-wrapper.jar

# MySQL extracted folders
mysql-connector-j-*/

# Temporary
*.tmp

.smarttomcat/